﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>
    <strong>Crear blog</strong>
</h2>

<form action="/Blog/Create" class="form-group" method="post" enctype="multipart/form-data">


    <label>Título</label>
    <input type="text" class="form-control" name="titulo" />

    <label>Autor</label>
    <input type="text" class="form-control" name="autor" />

    <label>Contenido</label>
    <textarea type="text" class="form-control" name="contenido">  </textarea>

    <button class="btn btn-success">Crear</button>
</form>
