﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>
    <strong>@Model.blog.titulo</strong>
</h2>

<hr />

<p>
    <strong>Fecha: </strong>@Model.blog.fecha <br />
    <strong>Autor: </strong>@Model.blog.autor
</p>

<br />

<p>@Model.blog.contenido</p>
<hr />

<h4>Comentarios</h4>
<div class="card" style="width: 18rem;">
    <div class="card-body">

        <form action="/Blog/Detail" class="form-group" method="post" enctype="multipart/form-data">
            <textarea name="comentario.contenido" placeholder="introduce tu comentario"> </textarea>
            <input name="comentario.BlogId" value="@Model.blog.id" hidden />
            <button class="btn btn-success">Publicar</button>
        </form>

            @foreach (var item in Model.ComentariosBlog)
            {
                <div class="card-body">
                    <label>Anonimo</label>
                    <p class="card-text">@item.contenido</p>
                    <p class="card-text">@item.fecha</p>
                </div>
            }
    </div>
</div>
