﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/blog/create">Crear Blog</a>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.titulo</td>
                <td>@item.autor</td>
                <td>@item.fecha</td>
                <td><a href="/blog/detail?id=@item.id">Ver blog</a></td>
            </tr>
        }
    </tbody>
</table>
